#lois {
    color: yellow;
    background-color: blue;
    text-align: center;
    font-family: Calibri;
    font-size: 50px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#fortnite {
    color: #967bb6;
    font-weight: 700;
    font-family: Calibri;
    text-align: center;
    font-size: 30px;
    background-color: purple;
}

#quagmire {
    font-size: 20px;
    color: orange;
}    

#peter {
    width: 720px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
    background-color: blue;
}